<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LearnAFNetworking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>45B7E5C11D9171100050BED7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45B7E5DD1D9171110050BED7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45B7E5E81D9171110050BED7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
